@import "tailwindcss";

:root {
  --gray-1: #333333;
  --gray-2: #757575;
  --gray-3: #fefefe;
  --gray-4: #f0ebeb;
  --gray-5: #f0f0f0;
  --gray-6: #E0E0E0;
  --white: #fefefe;
  --blue-1: #2A1298;
  --purple-1: #856df3;
  --purple-2: #E3DDFF;
  /*more color */
}

@theme inline {
  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);
  --color-gray-4: var(--gray-4);
  --color-gray-5: var(--gray-5);
  --color-gray-5: var(--gray-6);
  --color-white: var(--white);
  --color-blue-1: var(--blue-1);
  --color-purple-2: var(--purple-2);
  --color-purple-1: var(--purple-1);

  --font-sans: var(--font-nunito-sans);
  --breakpoint-sm: 375px;
  --breakpoint-md: 768px;
  --breakpoint-xl: 1440px;
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #;
    --foreground: #ededed;
  }
} */

body {
  background: var(--gray-3);
  color: var(--gray-1);
  font-family: var(--font-sans);
}